@-webkit-keyframes moveplane {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 95%;
  }
}
@keyframes moveplane {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 95%;
  }
}
@-webkit-keyframes spinplane {
  0% {
    -webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
            transform: rotate(0deg) translateX(0px) translateY(0px);
  }
  50% {
    -webkit-transform: rotate(-180deg) translateX(40px) translateY(100px);
            transform: rotate(-180deg) translateX(40px) translateY(100px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translateX(0px) translateY(0px);
            transform: rotate(-360deg) translateX(0px) translateY(0px);
  }
}
@keyframes spinplane {
  0% {
    -webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
            transform: rotate(0deg) translateX(0px) translateY(0px);
  }
  50% {
    -webkit-transform: rotate(-180deg) translateX(40px) translateY(100px);
            transform: rotate(-180deg) translateX(40px) translateY(100px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translateX(0px) translateY(0px);
            transform: rotate(-360deg) translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  95% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  95% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes buttonhover {
  from {
    background-color: #5c91f3;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  to {
    background-color: #9775fc;
    -webkit-transform: scale3d(1.05, 1.1, 1);
            transform: scale3d(1.05, 1.1, 1);
  }
}
@keyframes buttonhover {
  from {
    background-color: #5c91f3;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  to {
    background-color: #9775fc;
    -webkit-transform: scale3d(1.05, 1.1, 1);
            transform: scale3d(1.05, 1.1, 1);
  }
}
* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: consolas;
}

body {
  background-color: #5c91f3;
  color: white;
}

.container {
  background-color: #1e3869;
  width: 80%;
  margin: 50px auto;
  border: 1px solid #d9ddff;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #1e3869;
  border-bottom: 1px solid #d9ddff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__plane {
  height: 100%;
  width: 80%;
}
.header__plane__image {
  height: 100%;
  width: 140px;
}
.header__logo {
  height: 100%;
  width: 20%;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  height: 200px;
  margin: 40px auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.search__term {
  height: 50%;
  width: 60%;
  margin: 0 auto;
}
.search__term input {
  width: 100%;
  margin-top: 20px;
  height: 50%;
  border-radius: 5px;
}
.search__term input::-webkit-input-placeholder {
  text-align: center;
}
.search__term input::-moz-placeholder {
  text-align: center;
}
.search__term input:-ms-input-placeholder {
  text-align: center;
}
.search__term input::-ms-input-placeholder {
  text-align: center;
}
.search__term input::placeholder {
  text-align: center;
}
.search__checkbox {
  width: 50%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
}
.search__button {
  height: 35%;
  width: 30%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.search__button button {
  height: 90%;
  border-radius: 5px;
  margin-top: 7px;
  background-color: #5c91f3;
  border: none;
}
.search__button button:hover {
  -webkit-animation: buttonhover 0.2s ease-out forwards;
          animation: buttonhover 0.2s ease-out forwards;
}
.search__button__text {
  position: absolute;
  font-size: 24px;
  top: 32%;
  left: 41.5%;
  pointer-events: none;
}

.results {
  min-height: 100px;
  height: auto;
  width: 90%;
  margin: 80px auto;
  background-color: black;
}/*# sourceMappingURL=main.css.map */