// COLORS

$primary-color: rgb(92, 145, 243);
$primary-color-dark: rgb(30, 56, 105);;
$accent-color: rgb(151, 117, 252);
$accent-color-dark: rgb(88, 73, 134);
$border-color: rgb(217, 221, 255);
$text-color: white;






