// COLORS

$primary-color: rgb(92, 145, 243);
$primary-color-dark: rgb(30, 56, 105);;
$accent-color: rgb(205, 193, 240);
$accent-color-dark: rgb(117, 106, 150);
$text-color: white;
$array-color: rgb(45, 136, 196);
$sorted-color: rgb(255, 204, 38);
$compare-color: rgb(170, 39, 39);





