@import 'variables', 'functions', 'keyframes';

* {
    margin: 0;
    padding:0;
    width: 100%;
    font-family: consolas;
}

body {
    background-color: $primary-color;
    color: $text-color;
}

.container {
    background-color: $primary-color-dark;
    width:80%;
    margin: 50px auto;
    border: 1px solid $border-color;
    //opacity: 0;
    //animation: fadein 2s 7s 1 linear forwards;
}

.header {
    width: 100%;
    height: 100px;
    background-color: $primary-color-dark;
    border-bottom: 1px solid $border-color;
    display: flex;

    &__plane {
        height: 100%;
        width: 80%;
        //animation: shake 1s 6 linear;
        &__image {
            height: 100%;
            width: 140px;
            //animation: moveplane 5s 1 ease-out  forwards;
            img {
                //animation: spinplane 1s 4s 1 linear;
            }
        }
    }

    &__logo {
        height: 100%;
        width: 20%;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        //opacity: 0;
        //animation: fadein 2s 6s 1 linear forwards;
    }
}

.search {
    height: 200px;
    margin: 40px auto;
    width: 80%;
    display: flex;
    flex-direction: column;

    &__term {
        height: 50%;
        width: 60%;
        margin: 0 auto;
        input {
            width: 100%;
            margin-top: 20px;
            height:50%;
            border-radius: 5px;

            &::placeholder { text-align: center; }
        }
    }

    &__checkbox {
        width: 50%;
        height: 20%;
        display: flex;
        margin: 20px auto;
    }
    &__button {
        height: 35%;
        width: 30%;
        margin: auto;
        display: flex;
        position: relative;
        
        button {
            height: 90%;
            border-radius: 5px;
            margin-top: 7px;
            background-color: $primary-color;
            border: none;
            &:hover { animation: buttonhover 0.2s ease-out forwards; }
        }
        &__text {
            position: absolute;
            font-size: 24px;
            top: 32%;
            left: 41.5%;
            pointer-events: none;
        }
    }
}

.results {
    min-height: 100px;
    height: auto;
    width: 90%;
    margin: 80px auto;
    background-color: black;
}